/* -- Complete CSS Skeleton | Created by Monzilla Media for Perishable Press -- */
/* -- Updated Aug 21st 2006 | Leave the footer credit complete and use at will -- */


/* -- |x = deprecated -- */
/* -- |n = navigator only -- */
/* -- |e = explorer only -- */


/* -- HEAD -- */

!DOCTYPE {}
base {}
head {}
link {}
meta {}
title {}

/* -- MAIN -- */

:root {
    --slate-900: #1F314F; 
    --slate-500: #68778D;
    --slate-300: #D5E1EF;
    --white: #ffffff;
    --blue: #2C7DFA;
}

*, html *, body * {}
* {}
html {}
body {
    background-color: var(--Slate-300);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div#name {}
div.name {}
div {}
span {}
main {
    padding: 16px;
    background-color: var(--white);
    width: 320px;
    height: 499px;
    margin-bottom: 24px;
    border-radius: 20px;
    text-wrap: balanced;
}

.attribution { font-size: 11px; text-align: center; flex-;}
.attribution a { color: hsl(228, 45%, 44%); }

.qr-code img{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,1fr);
    max-width: 100%;
    background-color: var(--blue);
    border-radius: 10px;
    overflow-wrap: normal;
}


/* -- TEXT -- */

h1 {
        font-family: "Outfit", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: var(--slate-900);
        font-size: 22px;
        line-height: 120%;
        letter-spacing: 0;
}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
p {
    font-family: "Outfit", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: var(--Slate-500);
        font-size: 15px;
        line-height: 140%;
        letter-spacing: 0.2;
}
p:first-line {}
p:first-letter {}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {}

p:hover a:link,
p:hover a:visited {}
p:hover a:hover, 
p:hover a:active {}

/* -- LISTS -- */

ul {}
ol {}
li {}
ul li {}
ol li {}
ul ul, ul ol, ol ul, ol ol {}
ul li li {}
ol li li {}

li p, li li p {}

dl {}
dt {}
dd {}

/* -- IMAGES -- */

img {}
img a {}
img a:hover {}
img.noborder {}

img.align-center, img[align="center"] {}
img.align-right, img[align="right"] {}
img.align-left, img[align="left"] {}

/* -- LINKS -- */

a {}
a img {}
a:focus {}
a:link, a:visited {}
a:hover, a:active {}

a[href]:after { content: " | "; }
a[rel]:before { content: " * "; }
a[lang|="nl"] {}
a[title="common"] {}
area {}
map {}

/* -- FORMS -- */

fieldset {}
textarea {}
textarea:hover {}

optgroup {}
option {}
select {}

button:hover {}
button {}
legend {}
label {}

input {}
input:focus {}
input:hover {}
input[type=submit], input[type=reset], input[type=button] {}
input[type=text]:focus, textarea:focus, select:focus {}
form input[type=text] {}
form {}

/* -- STYLES -- */

blockquote {}
blockquote p {}
blockquote cite {}

pre {}
code {}
p code {}
pre code {}

kbd {}
samp {}
cite {}
abbr {}
acronym {}
address {}

hr {}
br {}
wbr {}
nobr {}

strong {}
small {}
sub {}
sup {}
big {}
em {}
i {}
b {}
q {}
tt {}
del {}
ins {}
var {}

basefont|x {}
isindex|x {}
strike|x {}
center|x {}
font|x {}
menu|x {}
dir|x {}
u|x {}
s|x {}

comment|e {}
marquee|e {}
ruby|e {}
rt|e {}

spacer|n {}
server|n {}
ilayer|n {}
keygen|n {}
layer|n {}
blink|n {}

/* -- TABLES -- */

table {}
th {}
tr {}
td {}

colgroup {}
caption {}
col {}

tbody {}
thead {}
tfoot {}

multicol|n {}

/* -- FRAMES -- */

frame {}
frameset {}
noframes {}

/* -- CLASSES -- */

.hide { display: none; }
.show { display: block; }
.right { float: right; }
.left { float: left; }

.vert-align { vertical-align: middle; }
.center { text-align: center; }

.clear {
	display: block;
	clear: both;
	height: 1%;
	margin: 0;
	padding: 0;
	font-size: 1px; 
	line-height: 1px;
}
.background {
	background-color:;
	background-image:;
	background-repeat:;
	background-attachment:;
	background-position:;
}
.nobackground {
	background: none;
}
.skipnav {
	position: absolute;
	height: 0.1em;
	left: -9999px;
	top: -9999px;
}
.noborder { border: 0 none; }

/* -- MEDIA -- */

embed {}
param {}
object {}
applet|x {}
bgsound|e {}

/* -- SCRIPTS -- */

script {}
noscript {}

/* -- HACKS -- */

div.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	clear: both;
	height: 0; 
}
div.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html div.clearfix { height: 1%; }
div.clearfix { display: block; }
/* End hide from IE-mac */

/* -- END FILE -- */

/* -- Complete CSS Skeleton | Created by Monzilla Media for Perishable Press -- */
/* -- Updated Aug 21st 2006 | Leave this footer credit complete and use at will -- */